#discussion{
    display: flex;
    flex-direction: column;    
    justify-content: end;
    background-color: rgb(236, 226, 226);
    left: 100%;
    bottom: 0;
}
#messages{
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding-inline: 0.5rem;
}
.message{
    font-weight: 300;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: white;
    width: fit-content;
}
.you{
    margin-left: auto; 
    margin-right: 0;
    background-color: rgb(119, 197, 193) ;
}
#type_zone{
    padding-block: 0.5rem;
    display: flex;
    justify-content: space-around;
    background-color: rgb(224, 210, 210);
    width: 100%;
    border-radius: 0 0 1rem 1rem;
}
#type_zone > input{
    width: 80%;
    border: none;
    border-radius: 1rem;
}
#type_zone > button{
    border: none;
    border-radius: 1rem;
}


/**params**/
#params{
    top: 0;
    left: 0;
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-radius: 5rem;
    margin: 0.6rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    align-items: center;
    padding: 0;
    border: none;
    box-shadow: 0px 0px 5px black;
    transition: all 0.2s;
}
#params:hover{
    box-shadow: 0px 0px 10px black;
}
#params div{
    width: 50%;
    height: 0.2rem;
    background-color: black;
}