html{
    width: 100%;
    height: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#phone_out{
    width: 42vh;
    height: 80vh;
    background-color: black;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#phone{
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 92%;
    height: 92%;
    border-radius: 1rem;
    background-color: white;
    justify-content: end;
}
.panel{
    transition: all 0.5s;
    position: absolute;
    height: 100%;
    width: 100%;
}

#discussion{left: 100%;}
#parameters{top: -100%;}