#phone{
    background-image: url("../../img/konami.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#conversations {
    background-color: rgba(0, 0, 0, 0) !important;
    border-radius: 1rem;
}
.conv{
    background-color: #f7943c !important;
}
#discussion {
    background-color: #f7943c !important;
    border-radius: 1rem;
}
#discussion > *{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
}
#discussion #choice{
    border-radius: 0;
    border-top: solid 0.1rem #f7943c;
}

.message{
    box-shadow: 0 0 40px 0 #f7943c;
    background-color: #FF4500;
}
.you{
    background-color: #f24a3c ;
}